include ../../../node_modules/bemto.pug/bemto.pug
include ../utils/_variables.pug
include ../utils/_mixins.pug
each value, key in content
  if (relativePath === key)
    - page = value
unless (page.meta)
  - page.meta = content.site.meta
block variables

doctype html
html.html(lang='ru' prefix='og: http://ogp.me/ns#')
  head
    title!=(typeof page.title !== "undefined") ? page.title  : relativePath + " - " + content.site.title
    meta(http-equiv='Content-Type' content='text/html;charset=' + content.site.meta.charset)/

    // Meta SEO - Description, Keywords, Title
    meta(name='title' content=(typeof page.title !== "undefined") ? page.title  : relativePath + " - " + content.site.meta.title)/
    meta(name='description' content=page.meta.description ? page.meta.description : relativePath + content.site.meta.description)/
    meta(name='keywords' content= page.meta.keywords ? page.meta.keywords : relativePath + " - " + content.site.meta.keywords)/

    // Multilanguage localization
    link(rel='alternate' href='/' hreflang='x-default')/
    //- link(rel='alternate' href='/en/' hreflang='en')/
    //- link(rel='alternate' href='/ru/' hreflang='ru')/
    
    // Mobile viewport optimization
    meta(name='viewport' content='width=device-width, initial-scale=1')/
    meta(name='HandheldFriendly' content='true')/
    meta(name='MobileOptimized' content='320')/
    //[if IEMobile]><meta http-equiv='cleartype' content='on' /><![endif]

    // Replace favicon.ico and apple-touch-icon.png
    link(rel='shortcut icon' type='image/png' href='img/logo/' + content.site.meta.favicon)
    link(rel='apple-touch-icon' type='image/png' href='img/logo/' + content.site.meta.appleTouchIcon)

    // Disables automatic  of possible phone numbers and address in Safari on iOS
    meta(name='format-detection' content='telephone=no')/
    meta(name='format-detection' content='address=no')/

    // Microformats Open Graph
    each value, key in (page.meta.openGraph ? page.meta.openGraph : content.site.meta.openGraph)
      meta(property='og:' + key, content=value)/
    
    // Microformats Twitter Cards
    each value, key in (page.meta.twitter ? page.meta.twitter : content.site.meta.twitter)
      meta(name='twitter:' + key, content= value)/
    
    // build:css css/bundle.min.css
    
    // Fonts CSS
    link(rel='stylesheet' href='css/fonts.css')
    // Bootstrap CSS
    link(rel='stylesheet' href='css/bootstrap.css')
    // Font-Awesome CSS
    link(rel='stylesheet' href='css/font-awesome.css')
    // Tooltip CSS
    link(rel='stylesheet' href='css/tooltipster.bundle.css')
    link(rel='stylesheet' href='css/tooltipster-sideTip-shadow.min.css') 
    // Calendar CSS
    link(rel='stylesheet' href='css/calendar.css')
    link(rel='stylesheet' href='calendar/css/bootstrap-datepicker.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;subset=cyrillic')   
    block styles
    // Custom CSS 
    link(rel='stylesheet' href='css/style.min.css')

    // endbuild

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 

  body.body
    block header
    main.main
      block content
    block footer
    block modal

    // build:js js/bundle.min.js

    // Popper JavaScript
    script(src='js/popper.js')
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap JavaScript
    script(src='js/bootstrap.js')
    // Old browsers reject JavaScript
    script(src='js/jquery.reject.js')
    // Wowjs animation JavaScript
    script(src='js/wow.js')
    block scripts
    // Slick-Slider JavaScript
    script(src='js/slick.js')
    // Cleave JavaScript
    script(src='js/cleave.min.js')    
    // Tooltip JavaScript
    script(src='js/tooltipster.bundle.js')    
    // FancyApps3 JavaScript
    script(src='js/jquery.fancybox.js')  
    // Calendar JavaScript
    script(data-require='MomentJS@2.10.0', data-semver='2.10.0', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='calendar/js/bootstrap-datepicker.js')
    script(src='calendar/locales/bootstrap-datepicker.ru.min.js')
    // Custom JavaScript 
    script(src='js/main.min.js') 

    // endbuild
    
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-115520269-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115520269-1');
    // Calendar  
    script.
      $(document).ready(function() {
          var d = new Date();
          var currDate = d.getDate();
          var currMonth = d.getMonth() + 1;
          var currYear = d.getFullYear();
          if (currDate < 10) {
              currDate = '0' + currDate;
          }
          if (currMonth < 10) {
              currMonth = '0' + currMonth;
          }
          var dateStr = currMonth + "" + currDate;
          $('#T2').val(dateStr);

          $('#datepicker').datepicker({
              format: "mmdd",
              language: "ru",
              immediateUpdates: true,
              defaultDate: 'now',
              templates: {
                  leftArrow: '<button class="calendar-link prev-day"><i class="fas fa-chevron-left"></i></button>',
                  rightArrow: '<button class="calendar-link next-day"><i class="fas fa-chevron-right"></i></button>'
              }
          }).datepicker("setDate", new Date());

          function print_r(arr, level) {
              var print_red_text = "";
              if (!level) level = 0;
              var level_padding = "";
              for (var j = 0; j < level + 1; j++) level_padding += "    ";
              if (typeof(arr) == 'object') {
                  for (var item in arr) {
                      var value = arr[item];
                      if (typeof(value) == 'object') {
                          print_red_text += level_padding + "'" + item + "' :\n";
                          print_red_text += print_r(value, level + 1);
                      } else
                          print_red_text += level_padding + "'" + item + "' => \"" + value + "\"\n";
                  }
              } else print_red_text = "===>" + arr + "<===(" + typeof(arr) + ")";
              return print_red_text;
          }

          function CalendarContent() {
              var data1 = $('#T2').val();
              return $.ajax({
                  type: "POST",
                  url: "calendar-hram-serafim.php",
                  data: "data=" + data1,
                  success: function(data) {
                      $('.results').html(data[0]);
                      $('.text-trapeza').html(data[1]);
                      //$('.test').html(print_r(data[2]));
                  },
                  dataType: "json"
              });
          };

          $('#datepicker').on('changeDate', function() {
              $('#T2').val(
                  $('#datepicker').datepicker('getFormattedDate')
              );
              CalendarContent();
          });
          // Navigate to next date
          $('.body').on("click", '#next-day', function() {
              var day = $("#datepicker").datepicker("getDate");
              if (day == null) {
                  var day = new Date();
              }
              day.setTime(day.getTime() + (1000 * 60 * 60 * 24));
              $("#datepicker").datepicker("setDate", day);
          });

          $('.body').on("click", '#prev-day', function() {
              var day = $("#datepicker").datepicker("getDate");
              if (day == null) {
                  var day = new Date();
              }
              day.setTime(day.getTime() - (1000 * 60 * 60 * 24));
              $("#datepicker").datepicker("setDate", day);
          });
          CalendarContent();
      });