- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png",
          description: "",
          keywords: "",
          title: "Workflow",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        header: {
          navbar: {
            navigation: {
              icon: "map",
              href: "#footer",
              text: "Как добраться?",
            },
            descr: {
              icon: "church",
              text: "Украинская Каноническая Православная <nobr>Церковь Днепропетровская Епархия</nobr>"
            },
            nav: {
              text: "Меню",
              close: {
                icon: "close"
              },
              items: [
                {
                  href: "#calendar",
                  icon: "list",
                  text: "Расписание богослужений"
                },
                {
                  href: "#about",
                  icon: "info",
                  text: "О храме"
                },
                {
                  href: "#life",
                  icon: "camera",
                  text: "Жизнь храма"
                },
                {
                  href: "#history",
                  icon: "camera",
                  text: "История храма"
                },
                {
                  href: "#donate",
                  icon: "camera",
                  text: "Помочь храму"
                },
                {
                  href: "#life",
                  icon: "camera",
                  text: "Требы"
                },
                {
                  href: "#note",
                  icon: "camera",
                  text: "Подать записку"
                },
                {
                  href: "#build",
                  icon: "camera",
                  text: "Именной кирпич"
                },
                {
                  href: "#prayer",
                  icon: "camera",
                  text: "Молитвы"
                },
                {
                  href: "#footer",
                  icon: "camera",
                  text: "Карта проезда"
                }
              ]
            }
          },
          intro: {
            heading: "Храм преподобного Серафима Саровского и Умиления Пресвятой Богородицы",
            text: "Храм открыт",
            btn: {
              text: "Подробнее",
              href: "#about"
            }
          },
        },
        quote: {
          slides: [
            {
              text: "Суди себя сам, и Господь не осудит.",
              author: "Серафим Саровский"
            },
            {
              text: "Рай и ад начинаются на земле.",
              author: "Серафим Саровский"
            },
            {
              text: "Обрети мир в своей душе, и вокруг тебя спасутся тысячи.",
              author: "Серафим Саровский"
            },
            {
              text: "Отведи грех, и болезни отойдут, ибо они нам даются за грехи.",
              author: "Серафим Саровский"
            },
            {
              text: "Можно причаститься на земле и остаться непричащенным на Небе.",
              author: "Серафим Саровский"
            },
            {
              text: "Кто переносит болезнь с терпением и благодарением, тому вменяется она вместо подвига или даже более.",
              author: "Серафим Саровский"
            },
            {
              text: "На хлеб и воду еще никто не жаловался.",
              author: "Серафим Саровский"
            },
            {
              text: "Купи метелку, купи веник да почаще мети келью, потому что как будет выметена твоя келья, так будет выметена твоя душа.",
              author: "Серафим Саровский"
            },
            {
              text: "Паче поста и молитвы — есть послушание, то есть труд.",
              author: "Серафим Саровский"
            },
            {
              text: "Нет хуже греха, и ничего нет ужаснее и пагубнее духа уныния.",
              author: "Серафим Саровский"
            },
            {
              text: "Истинная вера не может быть без дел: кто истинно верует, тот непременно имеет и дела.",
              author: "Серафим Саровский"
            },
            {
              text: "Если бы человек знал, что Господь приготовил ему в царствии небесном, он готов был бы всю жизнь просидеть в яме с червями.",
              author: "Серафим Саровский"
            },
            {
              text: "Смирение может весь мир покорить.",
              author: "Серафим Саровский"
            },
            {
              text: "Нужно удалять от себя уныние и стараться иметь радостный дух, а не печальный.",
              author: "Серафим Саровский"
            },
            {
              text: "От радости человек может что угодно совершить, от внутренней натуги — ничего.",
              author: "Серафим Саровский"
            },
            {
              text: "Мир лежит во зле, мы должны знать об этом, помнить это, преодолевать насколько возможно.",
              author: "Серафим Саровский"
            },
            {
              text: "Если разрушится семья, то низвергнутся государства и извратятся народы.",
              author: "Серафим Саровский"
            },
            {
              text: "Сей на благой земле, сей и на песке, сей на камне, сей при пути, сей в тернии: все где-нибудь да прозябнет и возрастет, и плод принесет, хотя и не скоро.",
              author: "Серафим Саровский"
            },
            {
              text: "У игумена ( а тем более у епископа ) должно быть не только отеческое, но даже материнское сердце",
              author: "Серафим Саровский"
            },
            {
              text: "Живущих с тобой в мире пусть будут тысячи, но тайну свою открывай из тысячи одному.",
              author: "Серафим Саровский"
            }
          ]
        },
        schedule: {
          heading: "Расписание богослужений",
          days: [
            {
              day: "Воскресенье",
              date: "24.12.17",
              events: [
                {
                  text: "Вечернее богослужение в 16:00.",
                  event: "После вечерняя исповедь"
                },
              ]
            },  
            {
              day: "Понедельник",
              date: "25.12.17",
              events: [
                {
                  text: "Литургия в 8:00.",
                  event: " От Свт. Спиридона сп. Тримифунтского, чудотворца. Причащение"
                },
              ]
            },
            {
              day: "Вторник",
              date: "26.12.17",
              events: [
                {
                  text: "Утреня. Литургия в 7:00",
                  event: "Мчч. Евстратия, Авксентия, Евгения, Мордария и Ореста. <br>Исповедь. Причащение."
                },
              ]
            },
            {
              day: "Среда",
              date: "27.12.17",
              events: [
                {
                  text: "Утреня. Литургия в 7:00",
                  event: "Мч. Фирса, Левкия и Каллиника (249-251). Исповедь. Причащение."
                },
              ]
            },
            {
              day: "Четверг",
              date: "28.12.17",
              events: [
                {
                  text: "Утреня. Литургия в 7:00",
                  event: "Сщмч. Елевферия, матери, его мч. Анфим и мч. Корива Епарха (ll) "
                },
              ]
            },
            {
              day: "Пятница",
              date: "29.12.17",
              events: [
                {
                  text: "1. Утреня. Литургия в 7:00",
                  event: "Прер. Аггея. Исповедь. Причащение"
                },
                {
                  text: "2. Вечернее богослужение в 16:00",
                  event: "Парастас."
                },
              ]
            },
            {
              day: "Суббота",
              date: "30.12.17",
              events: [
                {
                  text: "1. Литургия в 8:00",
                  event: "Поминальная заупокойная служба. Панихида."
                },
                {
                  text: "2. Вечерня в 16:00",
                  event: "Исповедь. Причащение."
                },
              ]
            },
            {
              day: "Воскресенье",
              date: "31.12.17",
              events: [
                {
                  text: "1. Литургия в 8:00",
                  event: "Причащение <br>Воскресная школа для детей в 10:30 <br>Неделя 30-я по пятидесятнице, перед Рождеством Христовым. Святых отец."
                },
                {
                  text: "2. Ночное богослужение в 00:00",
                },
                {
                  text: "3. Утреня. Литургия",
                  event: "Причащение. Мч. Вонифатия (290 г). Прп. Илии Муролца, Печерского в Ближних Пещерах (ок. 1188)"
                },
              ]
            },
            {
              day: "Вторник",
              date: "02.01.18",
              events: [
                {
                  text: "Утреня. Литургия в 7:00",
                  event: "Сщмч. Игнатия Богоносца (107). Прав. Иоанна Кронитадского (1908). Причащение"
                },
              ]
            },
            {
              day: "Среда",
              date: "03.01.18",
              events: [
                {
                  text: "Утреня. Литургия в 7:00",
                  event: "Свт. Петра митрополита Киевского (1326). Причащение"
                },
              ]
            },
            {
              day: "Четверг",
              date: "04.01.18",
              events: [
                {
                  text: "Утреня. Литургия в 7:00",
                  event: "Вмч. Анастасии Узорештельницы (ок. 304). Причащение"
                },
              ]
            },
            {
              day: "Пятница",
              date: "05.01.18",
              events: [
                {
                  text: "1. Утреня. Литургия в 7:00",
                  event: "Муч. в Кресте: Феодула, Саторника, Евпора, Геясия, Евникиана, Затика, Помпия, Агафопуса, Василида и Евареста (lVв). Причащение"
                },
                {
                  text: "2. Вечерня. Утреня. В 16:00",
                  event: "Исповедь"
                },
              ]
            },
            {
              day: "Суббота",
              date: "06.01.18",
              events: [
                {
                  text: "1. Литургия Василия Великого в 8:00",
                  event: "Навечерие Рождества Христова. Рождественский сочельник. Причащение"
                },
                {
                  text: "2. Вечерня в 16:00",
                  event: "Праздничное богослужение"
                },
              ]
            },
            {
              day: "Воскресенье",
              date: "07.01.18",
              events: [
                {
                  text: "Литургия свт. Иоанна Златоуста в 8:00",
                  event: "Рождество Господа Бога и Спаса нашего Иисуса Христа. Причащение"
                },
              ]
            },
            {
              day: "Понедельник",
              date: "08.01.18",
              events: [
                {
                  text: "Литургия в 7:00",
                  event: "Собор Пресвятой Богородицы. Правв. Иосифа Обручника, Давида царя и Иакова брата Господня. Причащение"
                },
              ]
            },
            {
              day: "Вторник",
              date: "09.01.18",
              events: [
                {
                  text: "Литургия в 7:00",
                  event: "Ап. первомч. и архидиакона Стефана (34). Причащение"
                },
              ]
            },
          ],
          btn: {
            text: "Показать следующую неделю"
          }
        },
        about: {
          heading: "О храме",
          slides: [
            {
              img: {
                src: "img/about1.jpg",
                alt: "Фото"
              },
              text: "<p>Храм назван в честь Святого Преподобного Серафима Саровского и Умиления Святой Богородицы.</p><p>МВ ходе строительства случались чудеса, такие как явление Креста на куполе храма.</p><p>С 15 октября 2017 года начала работу воскресная школа для детей, где проходит изучение Закона Божьего, Евангелие, уроки рукоделия и пр.</p><p>Духовенство храма при помощи прихожан оказывает помощь в детские дома и тюрьмы. Каждый помогает чем может. </p>"
            },
            {
              img: {
                src: "img/about2.jpg",
                alt: "Фото"
              },
              text: "<p>Святой преподобный Серафим Саровский чудотворец родился в 1754 году, в г. Курске.</p><p>Многие годы провел в уединении, приняв на себя иноческий труд молчания. После затвора принимал многих посетителей, имел дар прозорливости и исцеления от болезней. Ко всем приходящим к нему обращался словами «Радость моя!».</p><p>Прп. Серафим широко почитается в среде православных верующих. Неоднократно сообщалось о чудесах и исцелениях у его мощей, а также о явлениях его людям.</p><p>Скончался в 1833 году, в Саровском монастыре в своей келии во время молитвы.</p>"
            },
            {
              img: {
                src: "img/about3.jpg",
                alt: "Фото"
              },
              text: "<p><b>В храме хранится частица Креста Господня и мощи святых:</b></p><p>Святитель Тихон Московский, Святитель Игнатий Брянчанинов, Святитель Дмитрий Ростовский, Святитель Николай Чудотворец, Святитель Арсений Суздальский, Святитель Тихон Задонский, Святитель Феофан зат. Вышенский, Преподобный Антоний Дымский, Мученица Валентина Палестинская, Мученица Евгения Римская, Апостол Андрей Первозванный, Священномученик Григорий V Константинопольский, Преподобный Александр Свирский, Преподобный Анатолий мл. Оптинский, Преподобный Максим Грек, Св. князь Петр Муромский, Св. княгиня Феврония Муромская, Св. князь Андрей Смоленский, Преподобный Моисей Угрин, Преподобный Марк Гробокопатель Киево-Печерский</p>"
            }
          ]
        },
        life: {
          heading: "Жизнь храма",
          play: {
            href: "#video__modal"
          },
          btn: {
            text: "Показать еще"
          },
          slides: [
            {
              href: "img/1.jpg"
            },
            {
              href: "img/2.jpg"
            },
            {
              href: "img/3.jpg"
            },
            {
              href: "img/4.jpg"
            },
            {
              href: "img/5.jpg"
            },
            {
              href: "img/6.jpg"
            },
            {
              href: "img/7.jpg"
            },
            {
              href: "img/8.jpg"
            },
            {
              href: "img/9.jpg"
            },
            {
              href: "img/10.jpg"
            },
            {
              href: "img/11.jpg"
            },
            {
              href: "img/12.jpg"
            },
            {
              href: "img/13.jpg"
            },
            {
              href: "img/14.jpg"
            },
            {
              href: "img/15.jpg"
            },
            {
              href: "img/16.jpg"
            },
            {
              href: "img/17.jpg"
            },
            {
              href: "img/18.jpg"
            },
            {
              href: "img/19.jpg"
            },
            {
              href: "img/20.jpg"
            }
          ]
        },
        history: {
          heading: "История храма",
          slides: [
            {
              date: "2011",
              text: " В июле 2011 было начато строительство храма."
            },
            {
              date: "2012",
              text: "20 мая 2012 г. Высокопреосвященнейший Ириней, митрополит Днепропетровский и Павлоградский, совершил закладку капсулы в алтарную часть строящегося храма."
            },
            {
              date: "2016",
              text: "1 мая 2016 года было закончено строительство и стал постоянно действовать нижний храм в честь прп. Серафима Саровского."
            },
            {
              date: "2016",
              text: "17 ноября 2016 года состоялось освящение храма."
            },
            {
              date: "2017",
              text: "На сегодняшний день идёт внешняя отделка храма. Верхний храм Умиления Пресвятой Богородицы готовиться ко внутренним отделочным работам."
            }
          ]
        },
        donate: {
          heading: "Мы строим наш Храм для всех желающих спасения",
          text: "<p>Храм прп. Серафима Саровского строится исключительно за счет добровольных пожертвований многих людей. Принимать участие в таком богоугодном деле всегда считалось высокой честью, это вызывало в народе особую любовь и уважение.</p><p>Примите и вы участие в строительстве храма, своим добровольным пожертвованием!</p>",
          btn: {
            text: "Помочь храму",
            href: "#donate__modal"
          },
          img: {
            src: "img/mockup.png",
            alt: "Планшет"
          },
          modal: {
            heading: "Помочь храму",
            subheading: "Введите ваши контакты и добровольную сумму пожертвования. Затем нажмите на кнопку, чтобы перейти к оплате.",
            
          }
        },
        service: {
          heading: "Требы",
          tooltip: "Рекомендуемая сумма добровольного пожертвования ",
          items: [
            {
              text: "Проскомидия",
              price: "1 чел. - 30 коп."
            },
            {
              text: "Заочное отпевание",
              price: "100 грн."
            },
            {
              text: "Безкровная",
              price: "1 чел. - 80 коп."
            },
            {
              text: "Погребение",
              price: "300 грн."
            },
            {
              text: "Заказное прошение на литургии",
              price: "1 чел. - 1.50 грн"
            },
            {
              text: "Венчание",
              price: "500 грн"
            },
            {
              text: "Молебен о здравии",
              price: "10 чел. - 20 грн."
            },
            {
              text: "Соборование в храме",
              price: "40 грн."
            },
            {
              text: "Сорокоуст",
              price: "1 чел. - 20 грн."
            },
            {
              text: "Соборование на дому",
              price: "150 грн."
            },
            {
              text: "Полгода",
              price: "1 чел. - 70 грн."
            },
            {
              text: "Освещение дома",
              price: "300 грн ."
            },
            {
              text: "Год",
              price: "1 чел. - 150 грн."
            },
            {
              text: "Освящение машины",
              price: "300 грн."
            },
            {
              text: "Крещение",
              price: "300 грн."
            },
            {
              text: "Заказная панихида",
              price: "5 чел. - 25 грн."
            }
          ]
        },
        note: {
          text: "Вы можете подать записку в наш храм с помощью сайта и попросить молитв о ваших родных и близких. Мы распечатаем записку и помолимся о вас на ближайшем богослужении.",
          link: {
            info: "Перед подачей записки обязательно ознакомьтесь с правилами написания записок",
            href: "#note__modal"
          },  
          img: {
            src: "img/box320.png",
            alt: "Коробка"
          },
          form: {
            value: "Подать записку",
            loading: "<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...",
            text: "Подать записку бесплатно"
          },
          modal: {
            items: [
              {
                text: "Заполнение записки (оформление требы на сайте) – духовная составляющая этого процесса: Вписывая имена живых и усопших, поминайте их в процессе писания с искренним желанием им блага, от чистого сердца, стараясь припомнить того человека, чье имя вы вписываете — это уже молитва за него."
              },
              {
                text: "- Если вы хотите помянуть многих своих родных и близких - подайте несколько записок (треб), в одной записке ограничьтесь 10 - 15 именами."
              },
              {
                text: "- При написании имен священников и архиереев указывается их сан - например, о здравии (или о упокоении) епископа Тихона, иерея (священника) Ярослава."
              },
              {
                text: "- Все имена должны быть даны в церковном написании (например, Георгия, а не Юрия, Иоанна, а не Ивана) и полностью (Александра, Николая, но не Саши, Коли)."
              },
              {
                text: "- В записках (требах) не указывают фамилии, отчества, степени родства."
              },
              {
                text: "- Ребенок до семи лет в записке (требе) упоминается как младенец - \"младенца Петра\"."
              },
              {
                text: "- В записках (требах) о упокоении усопший в течение сорока дней после кончины именуется \"новопреставленный\". Допускается в записках (требах) о упокоении написание перед именем слов \"убиенный\", \"воин\", \"приснопамятный\" (в день смерти или день именин усопшего)."
              },
              {
                text: "- Не надо писать перед именем: \"заблудшего\", \"страждущего\", \"озлобленного\", \"учащегося\", \"скорбящего\", \"девицы\", \"вдовицы\", \"нуждающегося\"."
              },
              {
                text: "- Допускается включение в записку слов: \"воина\", \"монаха\", \"монахини\", \"болящего\", \"путешествующего\", \"заключенного\"."
              },
              {
                text: "- Имена (православные, данные при крещении) должны быть написаны в родительном падеже, каждое имя с новой строки (отвечать на вопрос \"кого\" - например - Алексея, Варвары)."
              },
              {
                text: "- Не следует поминать в записках (требах) самоубийц; не крещенных в православной вере (атеистов, инославных, иноверцев); убежденных атеистов и богоборцев, даже если они были крещены в Православии. усопших, причисленных к лику святых. Например: блаженная Матрона, блаженная Ксения. Причина проста: находясь у Престола Божия именно они молятся за нас;"
              }
            ]
          }
        },
        build: {
          heading: "Ваш именной кирпичик в стенах храма",
          text: "<p>Заложите именной кирпич в стены храма! Вы можете приобрести один или более именной кирпич стоимостью 15 грн, и получите свидетельство подтверждающее ваше участие в строительстве храма.</p><p>На каждой литургии возносятся молитвы “о создателях святого храма сего”, “о плодоносящих и добродеющих”, что равнозначно вечному поминовению в святом храме.</p>",
          btn: {
            text: "Заложить именной кирпич",
            href: "#build__modal"
          },
          img: {
            src: "img/build.png",
            alt: "Свидетельство"
          },
          modal: {
            heading: "Заложить именной кирпич",
            subheading: "Введите ваши контакты и количество именных кирпечей, которые вы хотите заложить в храм. Затем нажмите на кнопку, чтобы перейти к оплате.",
            label: "Стоимость 1-го кирпича — 15 грн",
            btn: {
              value: "Модалка именной кирпич",
              loading: "<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...",
              text: "Перейти к оплате"
            }
          }
        },
        prayer: {
          img: {
            src: "img/prayer.png",
            alt: "Икона"
          },
          slides: [
            {
              heading: "Преподобному Серафиму, Саровскому чудотворцу",
              text: "О пречудный отче Серафиме, великий Саровский чудотворче, всем прибегающим к тебе скоропослушный помощниче! Во дни земнаго жития твоего никтоже от тебе тощ и неутешен отъиде, но всем в сладость бысть видение лика твоего и благоуветливый глас словес твоих. К сим же и дар исцелений, дар прозрения, дар немощных душ врачевания обилен в тебе явися. Егда же призва тя Бог от земных трудов к небесному упокоению, николиже любовь твоя преста от нас, и невозможно есть исчислити чудеса твоя умножившаяся, яко звезды небесныя: се бо по всем концем земли нашея людем Божиим являешися и даруеши им исцеления. Темже и мы вопием ти: о претихий и кроткий угодниче Божий, дерзновенный к Нему молитвенниче, николиже призывающия тя отреваяй, вознеси о нас благомощную твою молитву ко Господу сил, да укрепит державу нашу, да дарует нам вся благопотребная в жизни сей и вся к душевному спасению полезная, да оградит нас от падений греховных и истинному покаянию научит нас, во еже безпреткновенно внити нам в вечное Небесное Царство, идеже ты ныне в незаходимей сияеши славе, и тамо воспевати со всеми святыми Живоначальную Троицу до скончания века. Аминь. "
            },
            {
              heading: "Молитва Господня. Отче наш",
              text: "Отче наш, сущий на небесах! да святится имя Твое, да приидет Царствие Твое, да будет воля Твоя и на земле, как на небе. Xлеб наш насущный дай нам на сей день; и прости нам долги наши, как и мы прощаем должникам нашим; и не введи нас в искушение, но избавь нас от лукавого. Ибо Твое есть Царство и сила и слава во веки. Аминь.<br><br>(Матф. 6:9–13)"
            },
            {
              heading: "Благодарение за всякое благодеяние Божие",
              text: "<b>Тропарь, глас 4-й</b><br><br>Благода́рни су́ще недосто́йнии раби́ Твои́, Го́споди, о Твои́х вели́ких благодея́ниих на нас бы́вших, сла́вяще Тя хва́лим, благослови́м, благодари́м, пое́м и велича́ем Твое́ благоутро́бие, и ра́бски любо́вию вопие́м Ти: Благоде́телю Спа́се наш, сла́ва Тебе́.<br><br><b>Кондак, глас 3-й</b><br><br>Твои́х благодея́ний и даро́в ту́не, я́ко раби́ непотре́бнии, сподо́бльшеся, Влады́ко, к Тебе́ усе́рдно притека́юще, благодаре́ние по си́ле прино́сим, и Тебе́ я́ко Благоде́теля и Творца́ сла́вяще, вопие́м: сла́ва Тебе́, Бо́же Всеще́дрый.<br><br>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.<br><br>Богородичен: Богоро́дице, христиа́ном Помо́щнице, Твое́ предста́тельство стяжа́вше раби́ Твои́, благода́рно Тебе́ вопие́м: ра́дуйся, Пречи́стая Богоро́дице Де́во, и от всех нас бед Твои́ми моли́твами всегда́ изба́ви, Еди́на вско́ре предста́тельствующая."
            },
            {
              heading: "Молитвы ко Господу Иисусу Христу",
              text: "<b>Молитва первая</b><br><br>Господи Иисусе Христе, Боже мой, покрый мя и раб твоих (имена) от злобы супостата нашего, зане сила его крепка, естество же наше страстно и сила наша немощна. Ты убо, о Благий, сохрани мя от смущения помыслов и потопа страстей. Господи, Пресладкий мой Иисусе, помилуй и спаси мя и рабов Твоих (имена).<br><br><b>Молитва вторая</b><br><br>О, Господи, Иисусе Христе! Не отврати лица Твоего от нас, рабов твоих (имена) и уклонися гневом от рабов Твоих: помошник нам буди, не отрини нас и не остави нас.<br><br><b>Молитва третья</b><br><br>Помилуй мя, Господи, и не даждь мне погибнуть! Помилуй мя, Господи, яко немощен есмь! посрами, Господи, борющаго мя беса. Упование мое, осени над главою моею в день брани бесовския! борющаго мя врага побори, Господи, и обуревающия мя помыслы укроти тишиною Твоею, Слове Божий!<br><br><b>Молитва четвертая</b><br><br>Господи! Се сосуд Твой есмь: наполни мя дарованиями Духа Твоего Святого, без Тебя я пуст всякого блага, или паче полн всякого греха. Господи! Се корабль Твой есмь: исполни мя грузом добрых дел. Господи! Се ковчег Твой: исполни его не прелестью сребролюбия и сластей, а любовию к Тебе и к одушевленному образу Твоему — человеку."
            },
            {
              heading: "Молитва в день рождения",
              text: "Господи Боже, Владыка всего мира видимого и невидимого. От Твоей святой воли зависят все дни и лета моей жизни. Благодарю Тебя, премилосердный Отче, что Ты дозволил мне прожить еще один год; знаю, что по грехам моим я недостоин этой милости, но Ты оказываешь мне ее по неизреченному человеколюбию Твоему. Продли и еще милости Твои мне, грешному; продолжи жизнь мою в добродетели, спокойствии, в здравии, в мире со всеми сродниками и в согласии со всеми ближними. Подай мне изобилие плодов земных и все, что к удовлетворению нужд моих потребно. Наипаче же очисти совесть мою, укрепи меня на пути спасения, чтобы я, следуя по нему, после многолетней в мире сем жизни, перейдя в жизнь вечную, удостоился быть наследником Царства Твоего Небесного. Сам, Господи, благослови начинаемый мною год и все дни жизни моей. Аминь."
            },
            {
              heading: "Перед началом всякого дела",
              text: "Царю Небесный, Утешителю, Душе истины, Иже везде сый и вся исполняяй, Сокровище благих и жизни Подателю, прииди и вселися в ны, и очисти ны от всякия скверны, и спаси, Блаже, души наша. Благослови, Господи, и помоги мне, грешному, совершить начинаемое мною дело, во славу Твою. Господи, Иисусе Христе, Сыне Единородный Безначальнаго Твоего Отца, Ты бо рекл еси пречистыми усты Твоими, яко без Мене не можете творити ничесоже. Господи мой, Господи, верою объем в души моей и сердце Тобою реченная, припадаю Твоей благости: помози ми, грешному, сие дело, мною начинаемое, о Тебе Самом совершити, во имя Отца и Сына и Святаго Духа, молитвами Богородицы и всех Твоих святых. Аминь."
            }
          ]
        },
        footer: {
          heading: "Карта проезда к храму",
          text: "<p class=\"footer__text\">Храм прп. Серафима Саровского</p><p class=\"footer__text\">Украина, 49000, г. Днепр, пр. Мануильский (Воронцова), 31л</p><p class=\"footer__text\">р/с 26001010138281, ПАО «Укрсоцбанк», МФО 300023, ЕГРПОУ 25819712</p>"
        }
      }, //- index

    }
