- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png",
          description: "",
          keywords: "",
          title: "Workflow",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        header: {
          heading: "Храм преподобного Серафима Саровского и Умиления Пресвятой Богородицы",
          text: "Храм открыт",
          btn: {
            text: "Подробнее",
            href: ""
          }
        },
        quote: {
          slides: [
            {
              text: "Суди себя сам, и Господь не осудит.",
              author: "Серафим Саровский"
            },
            {
              text: "Рай и ад начинаются на земле.",
              author: "Серафим Саровский"
            },
            {
              text: "Обрети мир в своей душе, и вокруг тебя спасутся тысячи.",
              author: "Серафим Саровский"
            },
            {
              text: "Отведи грех, и болезни отойдут, ибо они нам даются за грехи.",
              author: "Серафим Саровский"
            },
            {
              text: "Можно причаститься на земле и остаться непричащенным на Небе.",
              author: "Серафим Саровский"
            },
            {
              text: "Кто переносит болезнь с терпением и благодарением, тому вменяется она вместо подвига или даже более.",
              author: "Серафим Саровский"
            },
            {
              text: "На хлеб и воду еще никто не жаловался.",
              author: "Серафим Саровский"
            },
            {
              text: "Купи метелку, купи веник да почаще мети келью, потому что как будет выметена твоя келья, так будет выметена твоя душа.",
              author: "Серафим Саровский"
            },
            {
              text: "Паче поста и молитвы — есть послушание, то есть труд.",
              author: "Серафим Саровский"
            },
            {
              text: "Нет хуже греха, и ничего нет ужаснее и пагубнее духа уныния.",
              author: "Серафим Саровский"
            },
            {
              text: "Истинная вера не может быть без дел: кто истинно верует, тот непременно имеет и дела.",
              author: "Серафим Саровский"
            },
            {
              text: "Если бы человек знал, что Господь приготовил ему в царствии небесном, он готов был бы всю жизнь просидеть в яме с червями.",
              author: "Серафим Саровский"
            },
            {
              text: "Смирение может весь мир покорить.",
              author: "Серафим Саровский"
            },
            {
              text: "Нужно удалять от себя уныние и стараться иметь радостный дух, а не печальный.",
              author: "Серафим Саровский"
            },
            {
              text: "От радости человек может что угодно совершить, от внутренней натуги — ничего.",
              author: "Серафим Саровский"
            },
            {
              text: "Мир лежит во зле, мы должны знать об этом, помнить это, преодолевать насколько возможно.",
              author: "Серафим Саровский"
            },
            {
              text: "Если разрушится семья, то низвергнутся государства и извратятся народы.",
              author: "Серафим Саровский"
            },
            {
              text: "Сей на благой земле, сей и на песке, сей на камне, сей при пути, сей в тернии: все где-нибудь да прозябнет и возрастет, и плод принесет, хотя и не скоро.",
              author: "Серафим Саровский"
            },
            {
              text: "У игумена ( а тем более у епископа ) должно быть не только отеческое, но даже материнское сердце",
              author: "Серафим Саровский"
            },
            {
              text: "Живущих с тобой в мире пусть будут тысячи, но тайну свою открывай из тысячи одному.",
              author: "Серафим Саровский"
            }
          ]
        },
        schedule: {
          heading: "Расписание богослужений",
          days: [
            {
              day: "Понедельник",
              date: "11.12.17",
              text: "Утреня. Литургия в 7:00",
              event: "Прич. И Стефана Нового (767).<br>Седьмица 28-я по Пятидесятнице"
            },  
            {
              day: "Вторник",
              date: "11.12.17",
              text: "Утреня. Литургия в 7:00",
              event: "Прич. И Стефана Нового (767).<br>Седьмица 28-я по Пятидесятнице"
            },
            {
              day: "Среда",
              date: "11.12.17",
              text: "Утреня. Литургия в 7:00",
              event: "Прич. И Стефана Нового (767).<br>Седьмица 28-я по Пятидесятнице"
            },
            {
              day: "Четверг",
              date: "11.12.17",
              text: "Утреня. Литургия в 7:00",
              event: "Прич. И Стефана Нового (767).<br>Седьмица 28-я по Пятидесятнице"
            },
            {
              day: "Четверг",
              date: "11.12.17",
              text: "Утреня. Литургия в 7:00",
              event: "Прич. И Стефана Нового (767).<br>Седьмица 28-я по Пятидесятнице"
            },
            {
              day: "Четверг",
              date: "11.12.17",
              text: "Утреня. Литургия в 7:00",
              event: "Прич. И Стефана Нового (767).<br>Седьмица 28-я по Пятидесятнице"
            },
            {
              day: "Четверг",
              date: "11.12.17",
              text: "Утреня. Литургия в 7:00",
              event: "Прич. И Стефана Нового (767).<br>Седьмица 28-я по Пятидесятнице"
            }
          ]
        },
        about: {
          heading: "О храме",
          slides: [
            {
              img: {
                src: "img/about1.jpg",
                alt: "Фото"
              },
              text: "<p>Святой преподобный Серафим Саровский чудотворец родился в 1754 году, в г. Курске.</p><p>Многие годы провел в уединении, приняв на себя иноческий труд молчания. После затвора принимал многих посетителей, имел дар прозорливости и исцеления от болезней. Ко всем приходящим к нему обращался словами «Радость моя!».</p><p>Прп. Серафим широко почитается в среде православных верующих. Неоднократно сообщалось о чудесах и исцелениях у его мощей, а также о явлениях его людям.</p><p>Скончался в 1833 году, в Саровском монастыре в своей келии во время молитвы.</p>"
            },
            {
              img: {
                src: "img/about1.jpg",
                alt: "Фото"
              },
              text: "<p>Храм назван в честь Святого Преподобного Серафима Саровского и Умиления Святой Богородицы.</p><p>В храме находятся мощи святых, а также частица Креста Господня</p><p>С 15 октября 2017 года начала работу воскресная школа для детей, где проходит изучение Закона Божьего, Евангелие, уроки рукоделия и пр.</p><p>Духовенство храма при помощи прихожан оказывает помощь в детские дома и тюрьмы. Каждый помогает чем может</p>"
            },
            {
              img: {
                src: "img/about1.jpg",
                alt: "Фото"
              },
              text: "<p>Храм назван в честь Святого Преподобного Серафима Саровского и Умиления Святой Богородицы.</p><p>В храме находятся мощи святых, а также частица Креста Господня</p><p>С 15 октября 2017 года начала работу воскресная школа для детей, где проходит изучение Закона Божьего, Евангелие, уроки рукоделия и пр.</p><p>Духовенство храма при помощи прихожан оказывает помощь в детские дома и тюрьмы. Каждый помогает чем может</p>"
            }
          ]
        },
        life: {
          heading: "Жизнь храма",
          btn: {
            text: "Показать еще"
          }
        },
        history: {
          heading: "История храма",
          slides: [
            {
              date: "2011",
              text: " В июле 2011 было начато строительство храма."
            },
            {
              date: "2012",
              text: "20 мая 2012 г. Высокопреосвященнейший Ириней, митрополит Днепропетровский и Павлоградский, совершил закладку капсулы в алтарную часть строящегося храма."
            },
            {
              date: "2016",
              text: "1 мая 2016 года было закончено строительство и стал постоянно действовать нижний храм в честь прп. Серафима Саровского."
            },
            {
              date: "2016",
              text: "17 ноября 2016 года состоялось освящение храма."
            },
            {
              date: "2017",
              text: "На сегодняшний день идёт внешняя отделка храма. Верхний храм Умиления Пресвятой Богородицы готовиться ко внутренним отделочным работам."
            }
          ]
        }
      }, //- index

    }
