section.life
  .container
    .row
      .col-24.text-center
        .heading.life__heading!=content.index.life.heading
    .gallery.life__gallery    
      .row
        .col-24.col-md-12.col-lg-6.gallery__col
          a.gallery__link.gallery__link--1(data-fancybox="gallery" href="img/gallery1.jpg")
        .col-24.col-md-12.col-lg-6.gallery__col
          a.gallery__link.gallery__link--2(data-fancybox="gallery" href="img/gallery2.jpg")
        .col-24.col-md-12.col-lg-6.gallery__col
          a.gallery__link.gallery__link--3(data-fancybox="gallery" href="img/gallery3.jpg")
        .col-24.col-md-12.col-lg-6.gallery__col
          a.gallery__link.gallery__link--4(data-fancybox="gallery" href="img/gallery4.jpg")
        .col-24.col-lg-6.gallery__col
          .row
            .col-24.col-md-12.col-lg-24
              a.gallery__link.gallery__link--5(data-fancybox="gallery" href="img/gallery5.jpg")
            .col-24.col-md-12.col-lg-24
              a.gallery__link.gallery__link--6(data-fancybox="gallery" href="img/gallery6.jpg")
        .col-24.col-lg-18.gallery__col   
          .gallery__video
            
            a.gallery__play(href!=content.index.life.play.href, data-toggle="modal")
              i.fa.fa-play.gallery__icon(aria-hidden="true")
              .gallery__border.gallery__border--1
              .gallery__border.gallery__border--2  
        each item, i in content.index.life.slides
          .col-24.col-md-12.col-lg-6.gallery__col.gallery__col--hidden
            a.gallery__link(class="gallery__link--hidden-"+(i+1), data-fancybox="gallery", href!=item.href)      
      .row
        .col-24.text-center
          button.btn.gallery__btn(type="button", data-show-all=".gallery__col")!=content.index.life.btn.text
