section.service
  .container
    .row
      .col-24.text-center
        .heading.heading--dark.service__heading!=content.index.service.heading
    .row.justify-content-center
      .col-24.col-md-20.col-lg-24
        .row.align-items-stretch
          each item, i in content.index.service.items
            .col-24.col-md-12.col-xl-auto.service__col
              .service__item.sv-card.js-tooltipstered(data-tooltip-content="#tooltip"+(i+1))
                .sv-card__box
                  i.sv-card__corner.sv-card__corner--tl
                  i.sv-card__corner.sv-card__corner--tr
                  i.sv-card__corner.sv-card__corner--bl
                  i.sv-card__corner.sv-card__corner--br 
                  .sv-card__zone
                    +svg("x")(class="sv-card__icon")
                    .sv-card__text!=item.text
