.tooltip__content
  each item, i in content.index.service.items
    .tooltip__item(id="tooltip"+(i+1))
      .tooltip__box.text-center
        +svg("info")(class="tooltip__icon")
        .tooltip__info!=content.index.service.tooltip
          span.tooltip__price!=item.price