// arrow-left
$svg-arrow-left-name: "arrow-left";
$svg-arrow-left-width: em(10);
$svg-arrow-left-height: em(18);
$svg-arrow-left-offset-x: px;
$svg-arrow-left-offset-y: px;
$svg-arrow-left-image: "../img/sprite.svg";
$svg-arrow-left: ( "arrow-left", em(10), em(18), px, px, "../img/sprite.svg" );

// arrow-left-o
$svg-arrow-left-o-name: "arrow-left-o";
$svg-arrow-left-o-width: em(16);
$svg-arrow-left-o-height: em(16);
$svg-arrow-left-o-offset-x: px;
$svg-arrow-left-o-offset-y: px;
$svg-arrow-left-o-image: "../img/sprite.svg";
$svg-arrow-left-o: ( "arrow-left-o", em(16), em(16), px, px, "../img/sprite.svg" );

// arrow-right
$svg-arrow-right-name: "arrow-right";
$svg-arrow-right-width: em(10);
$svg-arrow-right-height: em(18);
$svg-arrow-right-offset-x: px;
$svg-arrow-right-offset-y: px;
$svg-arrow-right-image: "../img/sprite.svg";
$svg-arrow-right: ( "arrow-right", em(10), em(18), px, px, "../img/sprite.svg" );

// arrow-right-o
$svg-arrow-right-o-name: "arrow-right-o";
$svg-arrow-right-o-width: em(16);
$svg-arrow-right-o-height: em(16);
$svg-arrow-right-o-offset-x: px;
$svg-arrow-right-o-offset-y: px;
$svg-arrow-right-o-image: "../img/sprite.svg";
$svg-arrow-right-o: ( "arrow-right-o", em(16), em(16), px, px, "../img/sprite.svg" );

// calendar
$svg-calendar-name: "calendar";
$svg-calendar-width: em(24);
$svg-calendar-height: em(24);
$svg-calendar-offset-x: px;
$svg-calendar-offset-y: px;
$svg-calendar-image: "../img/sprite.svg";
$svg-calendar: ( "calendar", em(24), em(24), px, px, "../img/sprite.svg" );

// camera
$svg-camera-name: "camera";
$svg-camera-width: em(18);
$svg-camera-height: em(14);
$svg-camera-offset-x: px;
$svg-camera-offset-y: px;
$svg-camera-image: "../img/sprite.svg";
$svg-camera: ( "camera", em(18), em(14), px, px, "../img/sprite.svg" );

// chat
$svg-chat-name: "chat";
$svg-chat-width: em(21);
$svg-chat-height: em(22);
$svg-chat-offset-x: px;
$svg-chat-offset-y: px;
$svg-chat-image: "../img/sprite.svg";
$svg-chat: ( "chat", em(21), em(22), px, px, "../img/sprite.svg" );

// church
$svg-church-name: "church";
$svg-church-width: em(30.55);
$svg-church-height: em(32);
$svg-church-offset-x: px;
$svg-church-offset-y: px;
$svg-church-image: "../img/sprite.svg";
$svg-church: ( "church", em(30.55), em(32), px, px, "../img/sprite.svg" );

// close
$svg-close-name: "close";
$svg-close-width: em(24);
$svg-close-height: em(24);
$svg-close-offset-x: px;
$svg-close-offset-y: px;
$svg-close-image: "../img/sprite.svg";
$svg-close: ( "close", em(24), em(24), px, px, "../img/sprite.svg" );

// email
$svg-email-name: "email";
$svg-email-width: em(19);
$svg-email-height: em(19);
$svg-email-offset-x: px;
$svg-email-offset-y: px;
$svg-email-image: "../img/sprite.svg";
$svg-email: ( "email", em(19), em(19), px, px, "../img/sprite.svg" );

// info
$svg-info-name: "info";
$svg-info-width: em(18);
$svg-info-height: em(19);
$svg-info-offset-x: px;
$svg-info-offset-y: px;
$svg-info-image: "../img/sprite.svg";
$svg-info: ( "info", em(18), em(19), px, px, "../img/sprite.svg" );

// list
$svg-list-name: "list";
$svg-list-width: em(17);
$svg-list-height: em(17);
$svg-list-offset-x: px;
$svg-list-offset-y: px;
$svg-list-image: "../img/sprite.svg";
$svg-list: ( "list", em(17), em(17), px, px, "../img/sprite.svg" );

// map
$svg-map-name: "map";
$svg-map-width: em(27);
$svg-map-height: em(27);
$svg-map-offset-x: px;
$svg-map-offset-y: px;
$svg-map-image: "../img/sprite.svg";
$svg-map: ( "map", em(27), em(27), px, px, "../img/sprite.svg" );

// map-pin
$svg-map-pin-name: "map-pin";
$svg-map-pin-width: em(24.12);
$svg-map-pin-height: em(32);
$svg-map-pin-offset-x: px;
$svg-map-pin-offset-y: px;
$svg-map-pin-image: "../img/sprite.svg";
$svg-map-pin: ( "map-pin", em(24.12), em(32), px, px, "../img/sprite.svg" );

// person
$svg-person-name: "person";
$svg-person-width: em(19);
$svg-person-height: em(22);
$svg-person-offset-x: px;
$svg-person-offset-y: px;
$svg-person-image: "../img/sprite.svg";
$svg-person: ( "person", em(19), em(22), px, px, "../img/sprite.svg" );

// phone
$svg-phone-name: "phone";
$svg-phone-width: em(19);
$svg-phone-height: em(18);
$svg-phone-offset-x: px;
$svg-phone-offset-y: px;
$svg-phone-image: "../img/sprite.svg";
$svg-phone: ( "phone", em(19), em(18), px, px, "../img/sprite.svg" );

// x
$svg-x-name: "x";
$svg-x-width: em(29);
$svg-x-height: em(28);
$svg-x-offset-x: px;
$svg-x-offset-y: px;
$svg-x-image: "../img/sprite.svg";
$svg-x: ( "x", em(29), em(28), px, px, "../img/sprite.svg" );


$svg-spritesheet-width: px;
$svg-spritesheet-height: px;
$svg-spritesheet-image: "../img/sprite.svg";
$svg-spritesheet-sprites: ( $svg-arrow-left,  $svg-arrow-left-o,  $svg-arrow-right,  $svg-arrow-right-o,  $svg-calendar,  $svg-camera,  $svg-chat,  $svg-church,  $svg-close,  $svg-email,  $svg-info,  $svg-list,  $svg-map,  $svg-map-pin,  $svg-person,  $svg-phone,  $svg-x,  );
