+comment('general style')

+cm('png icons')
+ic
@if (global-variable-exists(spritesheet-sprites))
  @each $sprite in $spritesheet-sprites
    .ic--#{nth($sprite, 10)}
      &:before
        +bs($sprite)
+cm('svg icons')
+svg
@if (global-variable-exists(svg-spritesheet-sprites))
  @each $sprite in $svg-spritesheet-sprites
    .svg--#{nth($sprite, 1)}
      +svgi($sprite)
+cm('form')
.text-danger
  color: $text-danger
  text-align: left
.form-group.has-error
  .form-control 
    border-color: $form-control-error-border-color
[type=submit]:disabled
  animation: progress-bar-stripes 2s linear infinite
  background-image: $btn-submit-loading-bg
  background-size: 40px 40px
@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
+cm('modal')
.modal
  -webkit-overflow-scrolling: touch
  transform: translateZ(0)
.modal.show 
  display: flex !important
  align-items: center
.modal-dialog
  position: relative
  margin: auto
.html, 
.body
  display: flex
  margin: 0
.body
  flex-direction: column
  flex: 0 0 100%
  max-width: 100%
  min-height: 100vh
.main
  flex-grow: 1

+cm("Typography")
.hidden-accessible
  border: 0 !important
  clip: rect(0 0 0 0) !important
  height: 1px !important
  margin: -1px !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
  width: 1px !important
+comment("home page style")
.heading
  font: 700 italic 28px/36px $font-playfair
  color: $green-color
+r(768)  
  .heading
    font: 700 italic 42px/50px $font-playfair
.btn
  position: relative
  background-color: #ffb24a
  border-radius: 10px
  box-shadow: 0 5px 15px rgba(255, 178, 74, 0.8)
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  color: #313431
  font: 700 italic 18px/20px $font-playfair
  padding: 25px 60px 25px 25px
  min-width: 270px
  text-align: left  
  transition: all .3s ease
  &:hover,
  &:focus
    color: #313431
    background-color: #ee8d3f
    box-shadow: 0 10px 15px rgba(238, 141, 63, 0.8)
  &__ic
    position: absolute
    right: 30px
    top: 50%
    margin-top: -8px
    opacity: 0.3
+comment("header style")
.header
  background: #d9dbce url(../img/headerbg.png) no-repeat
  background-position: left bottom
  background-size: cover
  &__box
    padding: 90px 0
    text-align: center
  &__heading
    text-align: center
    &--text
      font: 700 italic 24px/40px $font-playfair
      color: $green-color
      margin-bottom: 20px
    .ic
      margin-bottom: 30px  
  &__text
    font: 400 italic 20px/24px $font-playfair  
    color: $green-color
    text-align: center 
    margin-bottom: 40px
+r(768)
  .header
    background-size: auto
    &__box
      padding: 90px 0 100px
      text-align: left
    &__heading 
      text-align: left
      &--text   
        font: 700 italic 34px/44px $font-playfair
        margin-bottom: 45px
      .ic
        margin-bottom: 50px  
    &__text
      font: 400 italic 22px/24px $font-playfair  
      text-align: left 
      margin-bottom: 50px   
+r(992)
  .header
    height: 100vh
    &__box
      padding: 100px 0 60px
    &__heading    
      &--text
        font: 700 italic 44px/60px $font-playfair
        margin-bottom: 40px
+comment("quote style")
.quote 
  padding: 50px 0
  overflow: hidden
  &__item
    margin-bottom: 30px
  &__box
    position: relative  
    &:before
      content: ''
      height: 100%
      position: absolute
      width: 96%
      bottom: -15px
      left: 2%
      opacity: 0.6
      background-color: #f8f8f8
      border-radius: 10px
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08)
      z-index: 5
    &:after
      content: ''
      height: 100%
      position: absolute
      width: 94%
      bottom: -30px
      left: 3%
      opacity: 0.6
      background-color: #f8f8f8
      border-radius: 10px 
      z-index: 6   
    .ic
      position: absolute
  &__content
    position: relative
    z-index: 15  
    padding: 35px 25px 20px 
    border-radius: 10px  
    background-color: #f8f8f8
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.06) 
  &__text
    color: rgba(49, 52, 49, 0.8)
    font: 400 italic 22px/26px $font-playfair
    margin-bottom: 20px
    text-align: center
  &__author
    text-align: right
    font: 400 italic 18px/20px $font-playfair  
    color: $green-color
.ic
  &--quoteleft    
    left: 40px
    top: 30px
  &--quoteright
    right: 35px
    bottom: 33px
.quote-dots    
  position: relative
  .slick-dots
    position: static
    bottom: 0
  li
    height: 12px
    width: 12px
    padding: 0
    &.slick-active
      button
        background-color: #ffb24a
    button
      padding: 0
      height: 12px
      width: 12px
      border-radius: 50%
      background: rgba(0, 0, 0, 0.1)
      &:before
        content: none    
+r(768)
  .quote
    &__content
      padding: 55px 90px 35px  
    &__text
      margin-bottom: 25px  
+r(992)
  .quote
    &__content
      padding: 75px 90px 35px 
+comment("schedule style")      
.schedule
  padding: 45px 0 60px
  background: #f8f8f8
  &__heading
    text-align: center
    margin-bottom: 25px
  &__element
    position: relative
    padding: 30px 25px 50px  
    background: url(../img/venzelvertical.png) no-repeat
    background-position: right top
  &__day
    font: 700 italic 24px/26px $font-playfair 
    color: $green-color  
    margin-bottom: 20px
  &__ic
    margin-right: 15px
  &__date
    font: 600 16px/18px $font-pf
    color: $green-color    
    margin-bottom: 20px
  &__text  
    font: 600 16px/18px $font-pf
    color: $green-color    
    margin-bottom: 20px
  &__event
    font: 300 16px/18px $font-pf
    color: #313431
  &__container
    background: #fff  
  &__row
    overflow: hidden  
  &__col
    box-shadow: 0 0 0 2px #f8f8f8
+r(768)
  .schedule
    padding: 80px 0 75px
    &__heading
      margin-bottom: 60px
+r(992)
  .schedule
    padding: 75px 0 100px 
    background: url(../img/schedulebg.png) no-repeat
    &__heading
      text-align: left     
      margin-bottom: 65px
+comment("about style")
.about
  padding: 65px 0 75px
  background: #e5e7df url(../img/aboutbg.png) no-repeat
  background-size: cover
  background-position: center
  overflow: hidden
  &__heading
    margin-bottom: 40px
  &__slider
    margin: 0 -15px   
  &__info
    padding: 30px 20px
    background: #fff
    border-left: 5px solid #ffb24a  
  &__text
    font: 300 16px/21px $font-pf
    color: #313431  
.js-about-arrows
  padding-top: 56px
  margin: 0 -15px
  .slick
    &-arrow
      display: inline-block
      position: static
      height: 50px
      width: 50px
      border-radius: 10px
      box-shadow: 2.5px 4.3px 15px rgba(236, 176, 83, 0.8)  
      transition: all .3s ease 
    &-prev
      background: #ecb053 url(../img/icons/svg/arrow-left.svg) no-repeat  
      background-position: center
      &:hover
        background: #ee8d3f url(../img/icons/svg/arrow-left.svg) no-repeat  
        box-shadow: 0 10px 15px rgba(238, 141, 63, 0.8)  
        background-position: center
    &-next
      background: #ecb053 url(../img/icons/svg/arrow-right.svg) no-repeat  
      background-position: center
      &:hover
        background: #ee8d3f url(../img/icons/svg/arrow-right.svg) no-repeat  
        box-shadow: 0 10px 15px rgba(238, 141, 63, 0.8)  
        background-position: center  
+r(768)
  .about
    padding-bottom: 50px      
    &__item
      padding-bottom: 162px
    &__box
      position: relative
      margin: 0    
    &__info
      position: absolute
      left: 0
      top: 100%
      margin-top: -140px
      padding: 35px 30px  
      max-width: 540px
  .js-about-arrows
    padding: 0
    position: relative
    top: -80px
    margin: 0
    .slick-prev
      margin-right: 25px      
+r(992)
  .about
    &__heading
      margin-bottom: 50px
    &__info
      left: 50px   
      max-width: 580px     
