extends base/_layout.pug
block variables

block header
  include partials/_header.pug
block content
  include partials/_quoteSlider.pug
  include partials/_schedule.pug
  include partials/_about.pug
  include partials/_life.pug
  include partials/_accordion.pug
  include partials/_donate.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug

block styles

block scripts
